<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header')%>
  <section class="our_section layout_padding">
  <article>
      <img src="/images/<%= helado.imagen%>">
      <span><%= helado.imagen%></span>
      <span><%= helado.imagen%></span>
      <span><%= helado.imagen%></span>
  </article>
  </section>
  <%- include('./partials/footer')%>
</body>
</html>