<!DOCTYPE html>
<html>
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header')%>
  <section class="our_section layout_padding">
      <a class="text-white" href="/products/create"><button class="btn btn-primary w-100 mb-4">Agregar helado</button></a>
      <% helados.forEach((helado)=>{ %>
      <div class="d-inline">
        <article class="d-inline-block text-black text-center p-0 m-0" style="width: 33%;height:10% ;background-color:#6c757d; border-radius: 5px;">
          <a class="text-dark" href="/productos/<%= helado.id %>">
              <img src="/img/productosImagenes/<%= helado.imagen %>" width="100%">
              <p class="productName"><%= helado.nombre %></p>
              <p class="productPrice"><%= 'AR$ ' + helado.precio %></p>
          </a>
        </article>
      </div>
      <% }) %>
  </section>
  <%- include('./partials/footer')%>
</body>
</html>